<h3> New Recipe</h3>

<%# <form method="POST" action="/">
  <label name="name">Name:</label>
  <input type="text" name="name" id="name"><br>
  <label name="description">Description:</label>
  <input type="text" name="description" id="description"><br>
  <input type="submit" value="Create User">
</form> %>

<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label><br>
    <input type="text" name="name">
  </div>

  <div>
    <label for="name">Description</label><br>
    <input type="text" name="description">
  </div>
  <input type="submit" value="Add to cookbook">
</form>
