<h3> New Recipe</h3>

<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name">
  </div>

  <div>
    <label for="description">Description</label><br>
    <textarea id="description" name="description"></textarea>
  </div>
  <% if @recipe.completed %>
    <input type="checkbox" id="completed" name="completed" value ="nil">
  <% end %>
  <input type="submit" value="Add to cookbook">
</form>
