<a href = "/recipes/<%= @recipe.id%>/edit"> Edit </a>

<h1><%= @recipe.name %></h1>

<h1><%= @recipe.description %></h1>


  <%# <%= link_to tasks_path do %>
    <%# <i class="fa fa-history"></i> Back to recipes
  <% end %>
