
<h1>Name <%= @recipe.name %></h1>

<h1>Description <%= @recipe.description %></h1>

<a href = "/recipes/<%= @recipe.id%>/edit"> Edit recipe </a>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>


<br>
<a href = "/"> Back to home </a>
